[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
datadog = "~=0.45"
json-logging = "~=1.2"
requests = "~=2.31"
aiohttp = "~=3.10"
aiofiles = "~=0.6"
asgiref = "~=3.3"
cachetools = "~=4.1"

[dev-packages]
semver = "~=3.0"
aioresponses = "~=0.7"
pytest-cov = "~=2.10.1"
requests-mock = "~=1.8"
pytest-aiohttp = "~=0.3"
pytest-asyncio = "~=0.14"
pyflakes = "~=3.0"
pycodestyle = "~=2.6.0"
